a {
  color: #2696e8;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.full-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2697e83b;
  padding: 2%;
  padding-bottom: 8%;
  height: 120vh;
  width: 100%;
}

.grid-container {
  align-self: self-start;
  max-width: 1080px;
  max-height: 720px;
  display: grid;
  grid-template-columns: 0.55fr 1fr;
  /* Divide the container into two equal columns */
}

.box1 {
  background-color: #35a0ee;
  padding: 20px;
  padding-top: 24px;
  padding-left: 12%;
}

.site-name {
  display: inline;
  font-size: large;
  font-weight: bold;
}

.site-name.united {
  margin-left: 2%;
  color: #fff;
}

.site-name.properties {
  color: #ffffff7d;
}

.flow-of-process-container {
  padding-top: 40%;
}

.flow-of-process {
  margin-left: 2%;
  margin-top: 20%;
  height: 75%;
  width: 75%;
}

.quote {
  height: 100%;
  width: 104.5%;
  margin-top: 40%;
  margin-left: -11%;
}

.box2 {
  background-color: #fff;
  padding: 20px;
  padding-left: 30px;
  margin-right: 10%;
  display: flex;
  flex-direction: column; /* Add this to make the container a flex container */
  justify-content: space-between;
}

.header-of-page {
  padding-top: 1%;
  padding-bottom: 6%;
  display: flex;
  justify-content: space-between;
  color: #a4aeb4;
  margin-right: 5%;
}
.full-width {
  margin-bottom: 16px;
  flex-basis: calc(100% - 8px);
}

.half-width {
  flex-basis: calc(50% - 2%);
  margin-bottom: 16px;
}
.left-top {
  font-size: small;
}

.right-top {
  font-size: small;
  margin-right: 10px;
}

.link-top {
  display: inline-flex;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  text-transform: none;
}
.next-button-and-skip {
  display: inline-flex;
  width: 100%;
  margin-right: -10%;
}

.next-button-and-skip Button {
  text-transform: none;
  font-size: 12px;
  font-weight: 500;
  margin: 1%;
}

.link-privacy {
  display: flex;
  align-items: center;
  font-size: small;
}

#skip {
  box-shadow: none;
  color: #2696e8;
  background: rgba(53, 160, 238, 0.1);
}

.link-to-home {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 100%;
}
