.investment-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20%;
}

.investment-details-container .half-width input,
.investment-details-container .full-width input {
  font-size: 12px;
  font-weight: 700;
}

.investment-details-container .MuiInputLabel-root {
  color: #a4aeb4;
  font-size: 12px;
}

.investment-details-container h2 {
  margin-bottom: -2%;
}
.investment-details-container h3 {
  margin-top: -1%;
  margin-bottom: 3%;
}

.investment-details-container .MuiInputLabel-shrink {
  color: #a4aeb4;
  font-size: 12px;
}
.full-width .MuiSlider-root {
  margin: 6px;
}
.full-width .MuiSlider-markLabel {
  font-size: 12px;
}
.full-width .MuiSlider-mark {
  width: 3px;
  height: 14px;
  background-color: #007bff;
  transform: translateX(-50%) translateY(-50%);
}
.full-width .MuiSlider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 0%;
  background-color: #007bff; /* Set the desired color for the thumb */
}
.MuiSlider-markLabel[data-index="0"] {
  margin-left: 20px; /* Adjust the margin-left value as needed to align with the mark */
}
.accredited h3 {
  margin-top: 5%;
}
.all-radio-buttons {
  display: inline-flex;
}
.radio-button {
  margin-right: 20px;
  margin-left: 12px;
}
.checkedRadio {
  padding-right: 40%;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #2696e8;
}
.uncheckedRadio {
  padding-right: 40%;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d5d9dc;
}
.checked-label {
  color: #007bff;
}
