body {
  margin: 0;
  font-family: 'Montserrat', 'Montserrat Alternates';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: small;
  color: #A4AEB4;
}
h1,h2,h3{
  font-family: 'Montserrat Alternates';
}